<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Change Password</h1>
</div>

<div class="row">
    <div class="col-6">
        <form class="user" method="post">
            <div class="input-group mb-3">
                <span class="input-group-text" style="width: 175px;">Current Password</span>
                <input type="password" class="form-control" name="current" placeholder="Enter your current password" required>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" style="width: 175px;">New Password</span>
                <input type="password" class="form-control" name="password" placeholder="Enter your new password" required>
            </div>
            <button type="submit" class="btn btn-dark btn-block">
                <span class="text">Change</span>
            </button>
            <% if(typeof errors !== 'undefined' && Object.keys(errors).length !== 0){ %>
                <div class="alert alert-danger mt-3 mb-3" role="alert">
                    <% Object.entries(errors).forEach(([key, value])=> { %>
                        <p><%= value %></p>
                    <% }); %>
                </div>
            <% } %>
        </form>
    </div>
</div>